NEXT_PUBLIC_SUPABASE_URL=https://zaemdaddnupwanhvbede.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InphZW1kYWRkbnVwd2FuaHZiZWRlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgxOTEyMTEsImV4cCI6MjA5Mzc2NzIxMX0.CNigNWZeogwwC5eF1PSnISyTFD5jeC-sWw3bwRWvZ4A
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InphZW1kYWRkbnVwd2FuaHZiZWRlIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODE5MTIxMSwiZXhwIjoyMDkzNzY3MjExfQ._7PHefkDKtw6ESdFy4CcJkbV9stPEEEw77_pcvwNTKs
ANTHROPIC_API_KEY=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
